


body {
  padding-top: 10px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/************** Nav Bar *****************/

#navbar {
	float: right;
}

.navbar-brand {
	margin-top: 0px;
}


.jumbotron {
	width: 100%;
	margin: 0 auto;
}

.jumbotron img{ 
	width: 100%;
	height: auto;
	
}




/************** Colors *****************/

body { 
	color: #fff;
	background-color: #000;
}

h1, h2, h3, h4 {
	color: #00bbff;
}

#navbar li a {color: #fff;}
#navbar li a:hover, #navbar li.active a{color:#00bbff; background-color:inherit; border-bottom: 2px solid #00bbff;}